body {
    background-color: antiquewhite;
}

.main-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-item-form {
    display: flex;
    flex-direction: column;
    border: 0.8vh solid cadetblue;
    margin-top: 20vh;
    padding: 4vh;
    width: 40%;
    border-radius: 4vh;
}

.new-item-label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 18vh;
    font-size: 4vh;
    margin-top: 2vh;
    color: cadetblue;
}

.new-item-input {
    font-size: 3vh;
    padding: 0.8vh;
    margin-top: 2vh;
    color: mediumseagreen;
    background-color: antiquewhite;
    outline: none;
    border: none;
    border-bottom: 0.5vh solid mediumspringgreen;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
}

.new-item-input:focus {
    outline: none;
}

.new-item-button {
    background-color: rgba(127, 255, 212, 0.6);
    font-size: 3.5vh;
    color: rgba(95, 158, 160, 0.7);
    margin-top: 2vh;
    padding: 2vh;
    border-radius: 2vh;
    transition: 0.2s;
    transition-timing-function: ease-in-out;
}

.new-item-button:hover {
    cursor: pointer;
    background-color: aquamarine;
    color: cadetblue;
}